<li>
    {{burger_name}}

    <button class="btn btn-primary btn-sm change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
        {{#if devoured}}
            EAT!
        {{else}}
            NOT NOW!
        {{/if}}

        <button class="btn btn-primary btn-sm remove-eat" data-id="{{this.id}}"> x </button>
    </button>
</li>
<br>